<!DOCTYPE html>
<html>
  <head>
    <title>StockTradingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

   <!-- start nav --> 
<div class='container-fluid bg-light pb-5'>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <%= link_to root_path do %>
          <%= image_tag 'trading_logo', class:'logo-branding'%>
        <%end%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
          <ul class="navbar-nav gap-5">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">LISTING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TRADING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">REGULATIONS</a>
            </li>
          </ul>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </nav>
  <!-- end nav --> 


    <%= yield %>
  </body>
</html>
